


.btn{
	font: 13.3333px Arial;
	background-color: $colorbutton;
	border-radius: 5px;
	padding: 8px 16px;
	font-size: 22px;
	text-decoration: none;
	margin: 20px;
	color: #fff;
	display: inline-block;
	cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;

	&:active {
	  transform: translate(0px, 5px);
	  -webkit-transform: translate(0px, 5px);
	  box-shadow: 0px 1px 0px 0px;
	}
	&:hover{
		background-color:darken($colorbutton, 10);
	}

	@media screen and (max-width: $mobil){
		font-size: 90%;
	}
}

.btn-small{
  	font: 10px Arial;
    padding: 6px 14px;
		@media screen and (max-width: $mobil){
			font-size: 9px;
		}
}

.btn-large{
  	font: 30px Arial;
    padding: 15px 30px;
  	border-radius: 10px;
		@media screen and (max-width: $mobil){
			font-size: 25px;
		}
}

.btn-red{
  background-color: $buttonRed;
  &:hover{
		background-color: lighten($buttonRed, 20);
	}
}

.btn-green{
  background-color: $buttonGreen;
  &:hover{
		background-color: lighten($buttonGreen, 20);
	}
}

.btn-purple{
  background-color: $purple;
  &:hover{
		background-color: lighten($purple, 20);
	}
}

.btn-flat{
	border: none;
	border-radius: 0px;
}

.btn-extra-large{
	width: 100%;
	margin: 0px;
}

.btn-fancy{
	border-style: inset;
	background: linear-gradient(70deg, $colorbutton, white);
}
