//Case
$borderMain:#777777;
$borderCase:#c3c3c3;

//Boutton
$purple:#ff00ff;
$buttonRed:#ff6060;
$buttonGreen:#4fd74f;
$colorbutton:#b5b5b5;

//Table
$colorColomn:#828282;
$colorTable:#b5b5b5;

$colorHeader:#555555;
$colorTextHeader:white;
$backgroundCode:#404452;
$colorCode:#ABB2BF;

//Taille Mobille
$mobil:640px;

//Grille
$columns:12!default;
$gutter-width: 2%!default;

//Alerte
$alertSuccessColor:#3c763d;
$alertSuccess:#dff0d8;
$alertSuccessBorder:#d6e9c6;

$alertInfoColor:#8a6d3b;
$alertInfo:#d9edf7;
$alertInfoBorder:#bce8f1;

$alertWarningColor:#8a6d3b;
$alertWarning:#fcf8e3;
$alertWarningBorder:#faebcc;
